/* Start Arrow */
.arrow-container {
  animation: up-down 3s linear infinite forwards;
  animation-delay: 1.2s;
}
.arrow {
  position: relative;
  width: 156.85px;
  height: 161.58px;
  background-color: #0e79b2;
  transform: rotate(45deg);
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.arrow::before {
  left: 100%;
  background-color: #d9ecf2;
  animation: intro-white ease 1s forwards;
}
.arrow::after {
  bottom: 100%;
  background-color: #002d40;
  animation: intro-black ease 1s forwards;
}
@keyframes intro-white {
  0% {
    transform: rotate(45deg) translateX(60px);
  }
  75% {
    transform: rotate(0) translateX(80px);
  }
  100% {
    transform: rotate(0) translateX(0);
    opacity: 1;
  }
}
@keyframes intro-black {
  0% {
    transform: rotate(45deg) translateY(-60px);
  }
  75% {
    transform: rotate(0) translateY(-60px);
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}
@keyframes up-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
}
/* End Arrow */

/* Start containers */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
/* medias of containers */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End containers */

/* Start Title */
.main-heading {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  color: #002d40;
  font-size: 4rem;
  text-transform: capitalize;
  gap: 1.5rem;
  margin-bottom: 6rem;
}
.main-heading span {
  width: 50px;
  height: 50px;
  background-color: var(--clr);
  transform: rotate(34deg);
}
@media (max-width: 767px) {
  .main-heading {
    font-size: 3rem;
  }
  .main-heading span {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 991px) {
  .main-heading {
    margin: 0 auto 6rem;
  }
}
@media (max-width: 1200px) {
  .main-heading {
    font-size: 3rem;
  }
}

/* quate */
.about .text .quate {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
}
@media (min-width: 991px) {
  .about .text .quate {
    flex-direction: column;
  }
}
.about .text:hover .rect {
  animation-play-state: running;
}
.about .rect {
  width: 20px;
  height: 20px;
  background-color: var(--clr);
  transform: rotate(-65.09deg);
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}
@keyframes rotate {
  0% {
    transform: rotate(-65.09deg);
  }
  100% {
    transform: rotate(294.91deg);
  }
}
/* End Title */
