/* Start General rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-clr: #0E79B2;
  --main-alt-clr: #0093E1;
  
  --accent-clr: #25D5A4;
  
  --main-black-clr: #002D40;
  --main-white-clr: #D9ECF2;
  
  --bg-white-clr: #ffffff;

  --main-transtion: 250ms;
  --border: 5px;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
section {
  position: relative;
}
/* End General rules */

/* Start Header */
header {
  background-color: var(--main-clr);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  max-height: 75px;
}
header .links  {
  display: flex;
  align-items: center;
}
header .burger  {
  display: none;
  width: 40px;
  color: var(--bg-white-clr);
  font-size: 2rem;
}
@media(max-width: 768px) {
  header .burger {
    display: block;
  }
  header .burger:hover + .links  {
    display: block;
  }
  header .links {
    display: none;
    position: absolute;
    top: 74px;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--main-clr);
    flex-direction: column;
  }
  header .link {
    border-bottom: 1px solid var(--main-alt-clr);
  }
}
header .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.25rem;
  padding: 0 1.5rem;
  min-height: 75px;
  color: var(--bg-white-clr);
  transition-duration: var(--main-transtion);
}
header .links a:hover {
  background-color: #002D40;
}
/* End Header */

/* Start landing */
.landing {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 75px);
  background: linear-gradient(255.58deg, #F5F5F5 -0.8%, #D9ECF2 100.88%);
  color: var(--main-black-clr);
}
.landing .container {
  display: flex;
}
.landing img {
  max-height: 400px;
}
@media(max-width: 991px) {
  .landing .container {
    flex-wrap: wrap;  
    text-align: center;
    flex-direction: column;
  }
  .landing img {
    margin-top: 2rem;
    transform: rotate(-90deg);
    max-height: 200px;
  }
}
.landing .content .welcome {
  margin-top: 4rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 55px;
}
.landing .content .name {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 1rem 0 ;
}
@media(min-width: 1200px) {
  .landing .content .welcome {
    font-size: 72px;
  }
  .landing .content .name {
    font-size: 1.75rem;
  }
}
.landing .content .description {
  font-weight: 400;
  font-size: 2rem;
  margin: 3rem 0;
}
@media (max-width: 767px) {
  .landing .content .description {
    font-size: 1.5rem;
  }
}
.landing .content .call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 66px;
  color: var(--bg-white-clr);
  background-color: var(--accent-clr);
  border-radius: var(--border);
  transition-duration: var(--main-transtion);
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: capitalize;
}
.landing .content .call:hover {
  opacity: .7;
}
@media(max-width: 991px) {
  .landing .content .call {
    margin: 0 auto;
  }
}
.landing .content i {
  margin-left: .75rem;
  font-size: 1.5rem;
}
/* End landing */